body{
  width: 80ch;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: whiteSmoke;
}

.box{
  font-size: 18px;
  margin-top: 3em;
}

img .fixed_header{
  margin-left: 0!important;
  width: 120%;
  : center;
}
