html, body{
  width: 80ch;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: whiteSmoke;
}

.box{
  font-size: 18px;
  margin-top: 3em;
}

img{
  margin-top: 2em;
}
