html,body{
  font-family: Arial, sans-serif;
  color: #757575;
  background-color: whiteSmoke;
  height:100%;
}

.body{
  width: 100ch;
  margin:auto;
  position: relative;
  padding-bottom: 100px;
}

.forside{
  background: url('../img/cefh_header.jpg')no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: inline-block;
  height: 280px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.box{
  font-size: 18px;
  margin-top: 3em;
}
